#side_nav{
    background-color: #000000;
    min-width: 265px;
    max-width: 265px;
    transition: 0.5s;
    
}
.content{
    min-width: 100vh;
    width: 100%;
    height: 100%;
}
.active{
    background-color: #fff;
    border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover{
    color: #000;
}
.sidebar li a, .signout{
    color: #fff;
}
@media(max-width: 767px){
    #side_nav{
        margin-left: -280px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active{
        margin-left: 0;
    }
}
.signout{
    margin-top: 100%;
}
.profile{
    position: absolute;
    right: 0%;
}
#card-body1{
    background-color: aqua;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
/* #addvehiclez{
    border: 2px solid #000;
    border-radius: 8px;
    height: 100vh;
} */
#model{
    width: 50vh;
}
